.header {
  position: sticky;
  top: 0;
  background: radial-gradient(96.67% 169.17% at 0% 0%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.4) 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  z-index: 100;
}

.header__dots {
  float: right;
  margin-left: auto;
  font-size: calc(var(--font-size-base) * 1.5);
  letter-spacing: 5px;
  font-weight: 600;
  transform: translateY(-20%);
  cursor: pointer;
}
