.header--profile {
  position: sticky;
  top: 0;
  background: radial-gradient(96.67% 169.17% at 0% 0%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.4) 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  z-index: 100;
  width: 100%;
}

.header--profile__darkmode-switch {
  position: absolute;
  right: 36px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
