* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../assets/images/bg.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
  color: var(--color-black);
  font-family: 'Montserrat', sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
}

h1,
h2,
h3 {
  line-height: 1.3;
}

input,
button {
  font-size: 1em;
}
