* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../assets/images/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  background-position: top;
  color: var(--color-primary);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 300;
  font-size: calc(var(--font-size-base) * 1.75);
}

h2 {
  font-weight: 600;
  font-size: calc(var(--font-size-base) * 1.5);
  text-transform: uppercase;
}

h3 {
  font-weight: 600;
  font-size: calc(var(--font-size-base) * 1.5);
}

p,
li,
input {
  font-size: calc(var(--font-size-base) * 0.875);
  line-height: 130%;
  font-weight: 300;
}

button {
  font-size: calc(var(--font-size-base) * 1.125);
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--color-primary);
}

strong {
  font-weight: 500;
}

input,
textarea {
  border-radius: 16px;
  border: none;
  background: var(--gradient-white-transparent);
  resize: none;
  padding: 5px 5px;
}
