.hidden {
  display: none !important;
}

.m0 {
  margin: 0 !important;
}

/* margin utilities */

.mx-0 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 24px;
  margin-right: 24px;
}

.mx-4 {
  margin-left: 32px;
  margin-right: 32px;
}

.my-0 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-4 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mb-0 {
  margin-bottom: 4px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mt-0 {
  margin-top: 4px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.mt-4 {
  margin-top: 32px;
}

.m-auto {
  margin: auto;
}

/* padding utilities */
.px-0 {
  padding-left: 4px;
  padding-right: 4px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-4 {
  padding-left: 32px;
  padding-right: 32px;
}

.py-0 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-4 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.pt-0 {
  padding-top: 4px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 24px;
}

.pt-4 {
  padding-top: 32px;
}

.pb-0 {
  padding-bottom: 4px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 24px;
}

.pb-4 {
  padding-bottom: 32px;
}

/* Positioning */
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}
