.quiz-card {
  position: relative;
  background: radial-gradient(96.67% 169.17% at 0% 0%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  backdrop-filter: blur(32px);
  border-radius: 32px;
}

.quiz-card__bookmark {
  position: absolute;
  top: 24px;
  right: 24px;
}

.quiz-card__btn {
  width: 100%;
  border: 0;
  border-radius: 32px;
  background-image: var(--gradient-secondary);
}

.quiz-card__tags {
  list-style: none;
}

.quiz-card__tag {
  background: var(--color-white);
  border-radius: 8px;
  font-size: calc(var(--font-size-base));
}
