.quiz-card {
  position: relative;
  background: var(--gradient-transparent);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  backdrop-filter: blur(32px);
  border-radius: 32px;
  overflow: hidden;
}

.quiz-card__bookmark {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  fill: var(--color-primary);
}

.quiz-card__btn {
  width: 100%;
}

.quiz-card__tags {
  list-style: none;
}

.quiz-card__tag {
  background: var(--gradient-white);
  border-radius: 8px;
  font-size: calc(var(--font-size-base));
}

.quiz-card__answer {
  background: var(--gradient-white-transparent);
}
