.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: var(--gradient-white);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.footer__container {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.footer__icon {
  width: 30px;
  height: 30px;
  justify-self: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  fill: var(--color-primary);
}

.footer__icon:hover {
  transform: scale(1.2);
}

.footer__btn {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 70px;
  width: 70px;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  background-image: var(--gradient-secondary);
  padding: 0;
  cursor: pointer;
}

.footer__btn-text {
  height: 0;
  line-height: 0;
  font-size: calc(var(--font-size-base) * 5);
  color: var(--color-white);
  font-weight: 300;
}
